<table>

    <tr>
        <td>
            <label for="issue">
                <f:translate key="tx_t3eevotingexample_domain_model_topic.issue"/>
                <span class="required">(required)</span>
            </label>
        </td>
        <td>
            <f:form.textfield property="issue" id="issue"/>
        </td>
    </tr>

    <tr>
        <td>
            <label for="yes">
                <f:translate key="tx_t3eevotingexample_domain_model_topic.yes"/>
            </label>
        </td>
        <td>
            <f:form.textfield property="yes" id="yes"/>
        </td>
    </tr>

    <tr>
        <td>
            <label for="no">
                <f:translate key="tx_t3eevotingexample_domain_model_topic.no"/>
            </label>
        </td>
        <td>
            <f:form.textfield property="no" id="no"/>
        </td>
    </tr>

</table>
